@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-50 text-neutral-600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
}
